<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@@title</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />

	<!-- Buka Links start-->
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Open+Sans&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap"
		rel="stylesheet"
	/>
	<link rel="stylesheet" href="css/jquery.fancybox.css" />

	<!-- <link rel="stylesheet" href="/examples/libs/simple-adaptive-slider/simple-adaptive-slider.min.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" /> -->
	<!-- <link rel="stylesheet" href="css/slick.css" /> -->

	<!-- Buka Links end-->

	<link rel="stylesheet" href="vendor/bootstrap-grid.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="postcss/main.min.css" />
</head>
