<!-- Buka scripts start-->
<!-- <script defer src="/examples/libs/simple-adaptive-slider/simple-adaptive-slider.min.js"></script> -->
<!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <script src="script.js"></script> -->
<script src="js/send.js"></script>
<script src="js/jQuery.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script>
	$(".mask-phone").mask("+7 (999) 999-99-99");
</script>
<!-- Buka scripts end -->

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="vendor/script.js"></script>
